body{
    background-color: black;
}
div{
    width: 19%;
    float: left;
    height: 550px;
    /* background-color: black; */
    /* background-color: black; */
    color: white;
    border: 1px solid black;
padding: auto;
}
h3{
    text-align: center;
}
div h3{
    text-align: left;
}
img{
    width: 50%;
    height: 150px;
}
/* h4{
    text-align: center;
    background-color: orange;
} */
#d2{
    text-align: center;
    /* background-color: orange; */
    width: 80%;
    height: 15px;
    /* border: white 4px solid; */
    padding: 5px;

}
h4{
    text-align: center;
    background-color: orange;
    width: 80%;
    height: 15px;
    border: white 4px solid;
    padding: 5px;
    color: black;
}

