h1{
    color: white;
}
body{
    background-color: black;
}

#a1{
    background-color: rgb(41, 34, 102);
    width: 70px;
    height: 120px;
    margin-left: 200px;
    margin-top: 50px;
}
#a2{
    background-color: rgb(210, 209, 226);
    width: 70px;
    height: 120px;
    margin-left: 273px;
    margin-top: -120px;
}
#a3{
    background-color: rgb(32, 177, 97);
    width: 70px;
    height: 120px;
    margin-left: 346px;
    margin-top: -120px;
}
#a4{
    background-color: rgb(177, 173, 189);
    width: 70px;
    height: 120px;
    margin-left: 419px;
    margin-top: -120px;
}

#a5{
    background-color: rgb(224, 37, 37);
    width: 70px;
    height: 120px;
    margin-left: 492px;
    margin-top: -120px;
}

#a6{
    background-color: rgb(186, 36, 206);
    width: 70px;
    height: 120px;
    margin-left: 127px;
    margin-top: 13px;
}
#a7{
    background-color: rgb(6, 68, 126);
    width: 70px;
    height: 120px;
    margin-left: 200px;
    margin-top: -120px;
}
#a8{
    background-color: rgb(68, 65, 122);
    width: 70px;
    height: 120px;
    margin-left: 273px;
    margin-top: -120px;
}
#a9{
    background-color: rgb(72, 170, 53);
    width: 70px;
    height: 120px;
    margin-left: 346px;
    margin-top: -120px;
}
#a10{
    background-color: rgb(229, 243, 39);
    width: 70px;
    height: 120px;
    margin-left: 419px;
    margin-top: -120px;
}
#a11{
    background-color: rgb(245, 111, 33);
    width: 70px;
    height: 120px;
    margin-left: 492px;
    margin-top: -120px;
}
#a12{
    background-color: rgb(241, 12, 12);
    width: 70px;
    height: 120px;
    margin-left: 565px;
    margin-top: -120px;
}


#a13{
    background-color: rgb(42, 15, 105);
    width: 70px;
    height: 120px;
    margin-left: 127px;
    margin-top: 13px;
}
#a14{
    background-color: rgb(184, 133, 133);
    width: 70px;
    height: 120px;
    margin-left: 200px;
    margin-top: -120px;
}
#a15{
    background-color:rgb(153, 124, 124);
    width: 70px;
    height: 120px;
    margin-left: 273px;
    margin-top: -120px;
}
#a16{
    background-color:rgb(155, 197, 56);
    width: 70px;
    height: 120px;
    margin-left: 346px;
    margin-top: -120px;
}
#a17{
    background-color: rgb(87, 78, 219);
    width: 70px;
    height: 120px;
    margin-left: 419px;
    margin-top: -120px;
}
#a18{
    background-color: rgb(223, 101, 101);
    width: 70px;
    height: 120px;
    margin-left: 492px;
    margin-top: -120px;
}
#a19{
    background-color: rgb(233, 135, 135);
    width: 70px;
    height: 120px;
    margin-left: 565px;
    margin-top: -120px;
}
#a20{
    background-color:rgb(68, 169, 192);
    width: 70px;
    height: 120px;
    margin-left: 54px;
    margin-top: -120px;
}
#a21{
    background-color: rgb(230, 162, 162);
    width: 70px;
    height: 120px;
    margin-left: 638px;
    margin-top: -120px;
}
